<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                            http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github-scala-starter-parent</id>
                    <name>GitHub Garage Education scala-starter-parent Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/garage-education/scala-starter-parent</url>
                </repository>
                <repository>
                    <id>github-scala-sandbox</id>
                    <name>GitHub Garage Education scala-starter-parent Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/garage-education/scala-sandbox</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github-scala-starter-parent</id>
            <username>moustafaalaa</username>
            <password>578a85c91c9ab9e8c74f8d1b0774001936eacd90</password>
        </server>

        <server>
            <id>github-scala-sandbox</id>
            <username>moustafaalaa</username>
            <password>578a85c91c9ab9e8c74f8d1b0774001936eacd90</password>
        </server>


    </servers>
</settings>
